:root {
  --font-color-man: #757575;
  --font-color-title: #212121;
  --font-color-on: #2196f3;
  --font-color-on-button: #188CE8;
  --border-color: #ececec;
  --color-white: #ffffff;
  --font-color-black: #000000;
  --fon-footer: #2f303a;
  --backup-hero: #c4c4c4;
  --color-grey: #f5f4fa;
  --color-icon: #afb1b8;
}

.hide-it {
  visibility: hidden;
  pointer-events: none;
  position: absolute;
}

.nav-list__link.current {
  color: var(--font-color-on);
}

.current::after {
  display: inline-block;
  content: "";
  background-color: var(--font-color-on);
  height: 4px;
  width: 100%;
  border-radius: 2px;
  position: absolute;
  left: 0;
  bottom: 0;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--font-color-man);
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
ul,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--font-color-black);
  /* outline: none; */
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  width: 1200px;
  /* outline: 2px solid teal; */
}

/* logo WebStudio*/
.logo {
  font-family: "Raleway", sans-serif;
  color: var(--font-color-black);
  font-weight: 700;
  font-size: 26px;
  -webkit-transition: font-weight 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: font-weight 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo__blue {
  color: var(--font-color-on);
}

.logo--footer {
  color: var(--color-white);
}

.logo:hover,
.logo:focus {
  font-weight: 900;
}

header {
  background-color: var(--color-white);
  outline: 1px solid var(--border-color);
}

.nav-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 93px;
}

.nav-list .nav-list__item + .nav-list__item {
  margin-left: 50px;
}

/* .nav-list .item:not(:last-child) {
    margin-right: 50px;
} */
.nav-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  /* align-items: center; */
  /* justify-content: center; */
}

/* .address-nav .item {
  align-items: center;
} */
/* .address-nav .item + .item {
  margin-left: 50px;
} */
.nav-contacts .nav-contacts__item:not(:last-child) {
  margin-right: 30px;
}

.nav-list__link,
.nav-contacts__link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--font-color-title);
  text-decoration: none;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list__link:hover,
.nav-list__link:focus,
.nav-contacts__link:focus,
.nav-contacts__link:hover {
  color: var(--font-color-on);
}

.nav-contacts__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: var(--font-color-man);
  padding-left: 10px;
}

.nav-contacts__icon-envelope {
  fill: currentColor;
  width: 16px;
  height: 12px;
  margin-right: 10px;
}

.nav-contacts__icon-smartphone {
  fill: currentColor;
  width: 10px;
  height: 16px;
  margin-right: 10px;
}

footer {
  background-color: var(--fon-footer);
  height: 252px;
  padding-top: 60px;
  padding-bottom: 60px;
  /* margin-bottom: 0; */
}

.container--footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}/*# sourceMappingURL=main.css.map */