:root {
  --font-color-man: #757575;
  --font-color-title: #212121;
  --font-color-on: #2196f3;
  --font-color-on-button: #188CE8;
  --border-color: #ececec;
  --color-white: #ffffff;
  --font-color-black: #000000;
  --fon-footer: #2f303a;
  --backup-hero: #c4c4c4;
  --color-grey: #f5f4fa;
  --color-icon: #afb1b8;
}

.hide-it {
  visibility: hidden;
  pointer-events: none;
  position: absolute;
}

.nav-list__link.current {
  color: var(--font-color-on);
}

.current::after {
  display: inline-block;
  content: "";
  background-color: var(--font-color-on);
  height: 4px;
  width: 100%;
  border-radius: 2px;
  position: absolute;
  left: 0;
  bottom: 0;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--font-color-man);
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
ul,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--font-color-black);
  /* outline: none; */
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  width: 1200px;
  /* outline: 2px solid teal; */
}

/* logo WebStudio*/
.logo {
  font-family: "Raleway", sans-serif;
  color: var(--font-color-black);
  font-weight: 700;
  font-size: 26px;
  -webkit-transition: font-weight 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: font-weight 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo__blue {
  color: var(--font-color-on);
}

.logo--footer {
  color: var(--color-white);
}

.logo:hover,
.logo:focus {
  font-weight: 900;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 206px;
  margin-right: auto;
  margin-left: auto;
}

.social-list__item {
  width: 44px;
  height: 44px;
}

.social-list__link {
  background-color: var(--color-white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  fill: var(--color-icon);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__link:hover,
.social-list__link:focus {
  background-color: var(--font-color-on);
  fill: var(--color-white);
}

.social-list__link--gray {
  background-color: rgba(255, 255, 255, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  fill: var(--color-white);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__link--gray:hover,
.social-list__link--gray:focus {
  background-color: var(--font-color-on);
  /* fill: var(--color-icon); */
}

.subscribe-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.subscribe-form__wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 93px;
}

.subscribe-form__input {
  width: 358px;
  height: 50px;
  padding-left: 20px;
  background-color: var(--fon-footer);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  /* filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15)); */
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.subscribe-form__input:focus {
  outline: none;
  border: 1px solid var(--font-color-on);
}

.backdrop-hero {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop-hero.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: relative;
  width: 528px;
  height: 581px;
  border-radius: 4px;
  top: 50%;
  left: 50%;
  padding: 40px;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  background-color: var(--color-white);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  -webkit-transition: -webkit-transform 1000ms;
  transition: -webkit-transform 1000ms;
  transition: transform 1000ms;
  transition: transform 1000ms, -webkit-transform 1000ms;
}

.backdrop-hero.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.3);
          transform: translate(-50%, -50%) scale(0.3);
  /* pointer-events: none; */
}

.modal__call {
  margin-bottom: 12px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--font-color-title);
}

.close-x {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--color-white);
  padding: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.close-x-icon {
  fill: var(--font-color-black);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-x:focus {
  /* outline: none; */
}

.close-x:hover .close-x-icon,
.close-x:focus .close-x-icon {
  fill: var(--font-color-on);
}

.form-name {
  display: block;
  position: relative;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666;
  letter-spacing: 0.01em;
}

.input-name {
  display: block;
  width: 100%;
  height: 40px;
  margin-top: 4px;
  margin-bottom: 10px;
  border-radius: 4px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.input-name:focus {
  outline: none;
  border: 1px solid var(--font-color-on);
}

.form-icon {
  display: block;
  position: absolute;
  width: 18px;
  height: 18px;
  top: 50%;
  left: 12px;
  fill: var(--font-color-black);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-name:focus-within > .form-icon {
  fill: var(--font-color-on);
}

.input-name.comment {
  height: 120px;
  margin-bottom: 0;
  padding: 12px;
}

.comment::-webkit-input-placeholder {
  font-style: normal;
  font-size: 12px;
  line-height: 1.1666;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.comment::-moz-placeholder {
  font-style: normal;
  font-size: 12px;
  line-height: 1.1666;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.comment:-ms-input-placeholder {
  font-style: normal;
  font-size: 12px;
  line-height: 1.1666;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.comment::-ms-input-placeholder {
  font-style: normal;
  font-size: 12px;
  line-height: 1.1666;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.comment::placeholder {
  font-style: normal;
  font-size: 12px;
  line-height: 1.1666;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

textarea {
  resize: none;
}

.check-button {
  margin-top: 25px;
  margin-left: 14px;
  margin-right: 7px;
  cursor: pointer;
}

.check-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  cursor: pointer;
}

.link-check {
  color: var(--font-color-on);
  text-decoration: underline;
}

.check-button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.check-berd {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 9px;
  border: 2px solid var(--font-color-black);
  border-radius: 2px;
}

.check-button:checked + .check-berd {
  border-color: var(--font-color-on);
  background-color: var(--font-color-on);
  background-image: url(../img/icon-check.svg);
  background-size: contain;
  background-origin: border-box;
}

.check-button:focus + .check-berd {
  border-color: var(--font-color-on);
}

header {
  background-color: var(--color-white);
  outline: 1px solid var(--border-color);
}

.nav-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 93px;
}

.nav-list .nav-list__item + .nav-list__item {
  margin-left: 50px;
}

/* .nav-list .item:not(:last-child) {
    margin-right: 50px;
} */
.nav-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  /* align-items: center; */
  /* justify-content: center; */
}

/* .address-nav .item {
  align-items: center;
} */
/* .address-nav .item + .item {
  margin-left: 50px;
} */
.nav-contacts .nav-contacts__item:not(:last-child) {
  margin-right: 30px;
}

.nav-list__link,
.nav-contacts__link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--font-color-title);
  text-decoration: none;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list__link:hover,
.nav-list__link:focus,
.nav-contacts__link:focus,
.nav-contacts__link:hover {
  color: var(--font-color-on);
}

.nav-contacts__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: var(--font-color-man);
  padding-left: 10px;
}

.nav-contacts__icon-envelope {
  fill: currentColor;
  width: 16px;
  height: 12px;
  margin-right: 10px;
}

.nav-contacts__icon-smartphone {
  fill: currentColor;
  width: 10px;
  height: 16px;
  margin-right: 10px;
}

section.hero {
  display: block;
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/hero.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--backup-hero);
}

.hero__title {
  width: 696px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: auto;
  margin-left: auto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--color-white);
}

section.advantage {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--color-white);
}

.advantage__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.advantage__title {
  margin: 0px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.15;
  text-transform: uppercase;
  color: var(--font-color-title);
}

.advantage__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 270px;
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;
  background-color: var(--color-grey);
}

.advantage__text {
  margin-top: 10px;
  margin-bottom: 0px;
  line-height: 1.7;
}

section.fiches {
  padding-top: 0;
  padding-bottom: 94px;
  background-color: var(--color-white);
}

.fiches__title {
  color: var(--font-color-title);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

.fiches__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 50px;
}

.fiches__img {
  position: relative;
}

.fiches__element {
  position: absolute;
  height: 70px;
  width: 370px;
  bottom: 0;
  right: 0;
  color: var(--color-white);
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  padding-top: 27px;
  text-transform: uppercase;
  background-color: rgba(47, 48, 58, 0.8);
}

section.command {
  background-color: var(--color-grey);
  padding-top: 94px;
  padding-bottom: 94px;
}

.command__title {
  color: var(--font-color-title);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

.command__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
  /* flex-wrap: wrap; */
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.command-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: var(--color-white);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.command-card__sign {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 30px;
  padding-bottom: 30px;
}

.command-card__name {
  color: var(--font-color-title);
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 10px;
}

.command-card__profession {
  font-size: 16px;
  text-align: center;
  margin-bottom: 16px;
}

section.regular-clients {
  background-color: var(--color-white);
  padding-top: 94px;
  padding-bottom: 94px;
}

.regular-clients__title {
  color: var(--font-color-title);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;
}

.regular-clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.regular-clients__item {
  width: 170px;
  height: 92px;
}

.regular-clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  border: 1px solid var(--color-icon);
  border-radius: 4px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: var(--color-icon);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.regular-clients__link:hover,
.regular-clients__link:focus {
  border-color: var(--font-color-on);
  fill: var(--font-color-on);
}

footer {
  background-color: var(--fon-footer);
  height: 252px;
  padding-top: 60px;
  padding-bottom: 60px;
  /* margin-bottom: 0; */
}

.container--footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.footer-address {
  display: block;
  margin-right: 94px;
}

.footer-address__list {
  margin-top: 20px;
}

.footer-address__item:not(:last-child) {
  margin-bottom: 9px;
}

.address-map,
.address-all {
  line-height: 1.7;
  color: var(--color-white);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-all {
  color: rgba(255, 255, 255, 0.6);
  display: inline-block;
}

.address-map:hover,
.address-map:focus,
.address-all:hover,
.address-all:focus {
  color: var(--font-color-on);
}

.join__title,
.subscribe-form__title {
  margin-top: 0px;
  margin-bottom: 20px;
  padding: 0;
  color: var(--color-white);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.15;
  text-transform: uppercase;
}/*# sourceMappingURL=main.css.map */