:root {
    --font-color-man: #757575;
    --font-color-title: #212121;
    --font-color-on: #2196F3;
    --border-color: #ECECEC;
    --font-color-white:#FFFFFF;

}

/* add font and background*/
body {
    font-family: 'Roboto', sans-serif;
    color: var(--font-color-man);
    background: #F5F5F5
 
}

ul {
    list-style-type:none;
}

a {
    text-decoration:none;
}

/* title */
h2, h3, .link {
    color: var(--font-color-title);

}
/* logo */
.webstudio {
    font-family: 'Raleway', sans-serif;
    color: #000000; font-weight: 700;
}

.webstudio:hover,
.webstudio:focus {
    font-weight: 900;
}

.ws-blue {
    color: var(--font-color-on);
}

/* nav */
.nav .link:hover,
.nav .link:focus,
.nav .link.current {
    color: var(--font-color-on);
}

/* Address */
.address .address-all {
    font-style:normal;
}

.address-all {
    color: var(--font-color-man);
}

.address-all:hover,
.address-all:focus {
    color: var(--font-color-on);
}

/* button */
/* ??? разобраться по крупицам */
.button {
    color: var(--font-color-white);
    background-color: var(--font-color-on);
    padding: 152px 30px;
    border: solid 1px;
    border-color: var(--font-color-on);
    font-size: 16px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;

    /* position: absolute;
    width: 216px;
    height: 50px;
    left: 692px;
    top: 430px;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px; */
}

/* chaos ??? */
/* .button:hover,
.button:focus {
    color: var(--font-color-on);
    background-color: var(--font-color-white);
 } */