/* Main */
:root {
  --font-color-man: #757575;
  --font-color-title: #212121;
  --font-color-on: #2196f3;
  --border-color: #ececec;
  --color-white: #ffffff;
  --font-color-black: #000000;
  --fon-footer: #2f303a;
  --backup-hero: #c4c4c4;
  --color-grey: #f5f4fa;
  --color-icon: #afb1b8;
}

h1,
h2,
h3,
h4,
ul,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--font-color-black);
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--font-color-man);
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  width: 1200px;
  outline: 2px solid teal;
}

/* .address-nav,
.address-down,
.nav-list,
.advantage-list,
.fiches-list,
.command-list,
.filter-list,
.work-examples-list,
.social-list-item,
.social-list,
.regular-clients-list-item {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}


.webstudio,
.webstudio-footer,
.address-up,
.address-map,
.address-all,
.link-portfolio,
.social-list-link {
  text-decoration: none;
} */

/* hide it */
.hide-it {
  visibility: hidden;
  pointer-events: none;
  position: absolute;
}

/* SECTIONS */
/* header and footer */
header {
  background-color: var(--color-white);
  outline: 1px solid var(--border-color);
}

.nav-main {
  display: flex;
  align-items: center;
}

.footer-class {
  background-color: var(--fon-footer);
  padding-top: 60px;
  padding-bottom: 60px;
  margin-bottom: 0;
}

.container-footer {
  display: flex;
  align-items: baseline;
}

/* logo */
.webstudio,
.webstudio-footer {
  font-family: "Raleway", sans-serif;
  color: var(--font-color-black);
  font-weight: 700;
  font-size: 26px;

  transition:  font-weight 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.webstudio-footer {
  color: var(--color-white);
  margin-bottom: 20px;
}

.webstudio-blue {
  color: var(--font-color-on);
}

.webstudio:hover,
.webstudio:focus,
.webstudio-footer:hover,
.webstudio-footer:focus {
  font-weight: 900;
}

/* nav */
.link,
.address-up {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--font-color-title);
  text-decoration: none;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.blue-line-studio {
  /* position: absolute; */
  background-color: var(--font-color-on);
  height: 4px;
  width: 48px;
  border-radius: 2px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.blue-line-portfolio {
  /* position: absolute; */
  background-color: var(--font-color-on);
  height: 4px;
  width: 78px;
  border-radius: 2px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* .current::after {

} */

.link:hover,
.link:focus,
.link.current {
  color: var(--font-color-on);
}

/* Address */
.address-up {
  display: flex;
  color: var(--font-color-man);
  padding-left: 10px;
}

.icon-envelope {
  fill: currentColor;
  width: 16px;
  height: 12px;
  margin-right: 10px;
}

.icon-smartphone {
  fill: currentColor;
  width: 10px;
  height: 16px;
  margin-right: 10px;
}

.address-map,
.address-all {
  line-height: 1.7;
  color: var(--color-white);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-all {
  color: rgba(255, 255, 255, 0.6);
  display: inline-block;
  margin-top: 9px;
  margin-bottom: 0;
}

.address-map {
  display: inline-block;
  margin-bottom: 0;
}

.address-up:focus,
.address-up:hover,
.address-map:hover,
.address-map:focus,
.address-all:hover,
.address-all:focus {
  color: var(--font-color-on);
}

/* heder flex box */
.nav-list {
  display: flex;
  margin-left: 93px;
}

.nav-list .item + .item {
  margin-left: 50px;
}

/* .nav-list .item:not(:last-child) {
    margin-right: 50px;
} */

.address-nav {
  display: flex;
  margin-left: auto;
  /* align-items: center; */
  /* justify-content: center; */
}

/* .address-nav .item {
  align-items: center;
} */

/* .address-nav .item + .item {
  margin-left: 50px;
} */

.address-nav .item:not(:last-child) {
  margin-right: 50px;
}

.address-down {
  margin-top: 20px;
}

.join {
  margin-left: 70px;
}

.join-title {
  margin-top: 0px;
  margin-bottom: 20px;
  color: var(--color-white);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.15;
  text-transform: uppercase;
}

.social-list-link-down {
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  fill: var(--color-white);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link-down:hover,
.social-list-link-down:focus {
  background-color: var(--font-color-on);

  /* fill: var(--color-icon); */
}

/* section hero */

section.hero {
  display: block;
  max-width: 1600px;
  height: 600px;

  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;

  text-align: center;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../img/hero.jpg);

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--backup-hero);

}

/* title hero*/
.first-title {
  width: 696px;

  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: auto;
  margin-left: auto;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--color-white);
}

/* button hero*/
/* ??? разобраться по крупицам */
.button-success {
  display: inline-block;

  min-width: 216px;
  border-radius: 4px;
  border: solid 1px;

  margin-top: 30px;
  padding: 10px 32px;

  background-color: var(--font-color-on);
  border-color: var(--font-color-on);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  font-family: inherit;
  color: var(--color-white);

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  cursor: pointer;
}

.button-success:hover,
.button-success:focus {
  color: var(--font-color-title);
}

.backdrop-hero {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(00,00,00, 0.8);

  /* transition: background-color 5000ms cubic-bezier(0.4, 0, 0.2, 1); */
}

.backdrop-hero.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  width: 528px;
  height: 581px;
  /* padding-top: 8px;
  padding-right: 490px; */
  /* padding: 15px; */
  background-color: var(--color-white);

  /* transition: background-color 5000ms cubic-bezier(0.4, 0, 0.2, 1); */

}

.close-x {
  display: flex;
  width: 30px;
  height: 30px;
  margin-left: 490px;
  margin-top: 8px;
  background-color: var(--color-white);
  border-color: rgba(0, 0, 0, 0.1);

  /* justify-content: right; */
  align-items: center;
  /* width: 100%;
  height: 100%; */
  border-radius: 50%;
}


/* .social-list-link {
  background-color: var(--color-white);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  fill: var(--color-icon); */


/* section advantage */

section.advantage {
  padding-top: 94px;
  padding-bottom: 94px;

  background-color: var(--color-white);
}

.advantage-list {
  display: flex;

  gap: 30px;
}

.advantage-title {
  margin: 0px;

  font-size: 14px;
  font-weight: 700;
  line-height: 1.15;
  text-transform: uppercase;
  color: var(--font-color-title);
}

.advantage-img {
  display: flex;

  align-items: center;
  justify-content: center;

  width: 270px;
  height: 120px;
  border-radius: 4px;

  margin-bottom: 30px;

  background-color: var(--color-grey);
}

.advantage-text {
  margin-top: 10px;
  margin-bottom: 0px;
  line-height: 1.7;
}

/* section fiches */

section.fiches {
  padding-top: 0;
  padding-bottom: 94px;
  background-color: var(--color-white);
}

.fiches-list {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.fiches-title,
.command-title,
.regular-clients-title {
  color: var(--font-color-title);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;

  margin-top: 0;
  margin-bottom: 0;
}

.fiches-img {
  position: relative;  
}

.fiches-element {
  position: absolute;
  height: 70px;
  width: 370px;
  bottom: 0;
  right: 0;

  color: var(--color-white);
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  padding-top: 27px;
  text-transform: uppercase;
  
  background-color: rgba(47,48,58,0.8);
}

/* section command */
section.command {
  background-color: var(--color-grey);
  padding-top: 94px;
  padding-bottom: 94px;
}

.command-list {
  display: flex;
  margin-top: 50px;
  /* flex-wrap: wrap; */
  justify-content: space-between;
}

.command-card {
  display: flex;
  flex-direction: column;
  background-color: var(--color-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.command-sign {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  padding-bottom: 30px;
}

.name {
  color: var(--font-color-title);
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 10px;
}

.profession {
  font-size: 16px;
  text-align: center;
  margin-bottom: 16px;
}

.social-list {
  display: flex;
  justify-content: space-between;
  width: 206px;
  margin-right: auto;
  margin-left: auto;
}

.social-list-item {
  width: 44px;
  height: 44px;
}

.social-list-link {
  background-color: var(--color-white);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  fill: var(--color-icon);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover,
.social-list-link:focus {
  background-color: var(--font-color-on);
  fill: var(--color-white);
}


/* section regular-clients */
section.regular-clients {
  background-color: var(--color-white);
  padding-top: 94px;
  padding-bottom: 94px;
}

.regular-clients-title {
  margin-bottom: 50px;
}

.regular-clients-list {
  display: flex;
  margin-bottom: 0;
  justify-content: space-between;
}

.regular-clients-list-item {
  width: 170px;
  height: 92px;  
}

.regular-clients-list-link {
  display: flex;
  width: 100%;
  height: 100%;
  border: 1px solid var(--color-icon);
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  fill: var(--color-icon);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.regular-clients-list-link:hover,
.regular-clients-list-link:focus {
  border-color: var(--font-color-on);
  fill: var(--font-color-on);

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 
}


/* section portfolio.html */
section.portfolio {
  background-color: var(--color-white);
  padding-top: 94px;
  padding-bottom: 94px;
}

.filter-list {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-list .filter-item + .filter-item {
  margin-left: 8px;
}

.filter-button {
  display: flex;
  border-radius: 4px;
  border: solid 1px;
  padding: 6px 25px;
  min-width: 73px;

  color: var(--font-color-title);
  background-color: var(--color-grey);
  border-color: var(--color-grey);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.06em;
  font-family: inherit;

  cursor: pointer;

  text-align: center;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.filter-button:hover,
.filter-button:focus {
  color: var(--color-white);
  background-color: var(--font-color-on);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.work-examples-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.card-portfolio {
  display: block;
  width: 370px;
}

.link-portfolio {
  display: block;
  position: relative;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

/* .img-example {

} */

.overlay-card-portfolio {
  position: absolute;
  width: 370px;
  height: 294px;
  top: 0;
  right: 0;
  padding: 63px 24px;

  color: var(--color-white);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;

  background-color: rgba(33, 150, 243, 0.9);

  display: none;


  /* transition: transform .3s cubic-bezier(.2,0,.2,1); */
  
  /* transition: opacity linear; */
}

/* .overlay-card-portfolio.is-hidden {
  opacity: 1;
  pointer-events: none;
} */

/* .overlay-card-portfolio:hover {
    opacity: 1;
} */

/* .backdrop-hero {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(00,00,00, 0.8);

  transition: background-color 5000ms cubic-bezier(0.4, 0, 0.2, 1);
} */

.link-portfolio:hover .overlay-card-portfolio {
  display: block;
}

.link-portfolio:hover,
.link-portfolio:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  /* opacity: 1; */
}

.portfolio-single {
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.title-portfolio {
  color: var(--font-color-title);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  text-align: left;
  margin-top: 0;
  margin-bottom: 4px;
}

.text-portfolio {
  color: var(--font-color-man);
  font-size: 16px;
  line-height: 1.9;
  margin-top: 0;
  margin-bottom: 0;
}
.portfolio-single {
  padding-top: 20px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 20px;
}
