:root {
    --font-color-man: #757575;
    --font-color-title: #212121;
    --font-color-on: #2196F3;
    --border-color: #ECECEC;
    --font-color-white:#FFFFFF;
    --font-color-button:#F5F4FA;
    --font-color-black:#000000;
    --fon-hero-footer:#2F303A;
}

/* add font and background*/
body {
    font-family: 'Roboto', sans-serif;
    color: var(--font-color-man);
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    /* background: #F5F5F5 */

}

.address,
.nav-list,
.advantage-list,
.fiches,
.comand-list,
.filter-list,
.work-examples-list {
    list-style-type: none;
}

.nav-site {
    text-decoration: none;
}

a {
    text-decoration:none;
}

a p {
    color: var(--font-color-man);
}

h1 {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color:var(--font-color-white);

}

/* title */
h2, h3, .link {
    color: var(--font-color-title);

}

.name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
}

h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
}

h3 {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.15;
}

.advantage {
    text-transform: uppercase;
}

.advantage-text {
    line-height: 1.7;
}

/* logo */
.webstudio {
    font-family: 'Raleway', sans-serif;
    color:var(--font-color-black);
    font-weight: 700;
    font-size: 26px;
}

.webstudio-footer {
    font-family: 'Raleway', sans-serif;
    color: var(--font-color-white);
    font-weight: 700;
    font-size: 26px;
}

.webstudio:hover,
.webstudio:focus, 
.webstudio-footer:hover,
.webstudio-footer:focus {
    font-weight: 900;
}

.ws-blue {
    color: var(--font-color-on);
}

/* nav */
.link {
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.link:hover,
.link:focus,
.link.current {
    color: var(--font-color-on);
}

/* Address */
.address a {
    font-style: normal;
    color: var(--font-color-man);
}

.address-up {
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.address .address-map,
.address-all {
    line-height: 2; 
    color: var(--font-color-white);
}

.address .address-all {
    color: rgba(255, 255, 255, 0.6);
}

.address-up:focus,
.address-up:hover,
.address-map:hover,
.address-map:focus,
.address-all:hover,
.address-all:focus {
    color: var(--font-color-on);
}

.hero,
.footer-class {
    background-color:var(--fon-hero-footer);
}

/* button */
/* ??? разобраться по крупицам */
.button-success {
    color: var(--font-color-white);
    background-color: var(--font-color-on);
    /* padding: 152px 30px; */
    border-radius: 4px;
    border: solid 1px;
    border-color: var(--font-color-on);
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.06em;

    font-family: inherit;

    cursor: pointer;

}

.button-success:hover,
.button-success:focus {
    color: var(--font-color-title);
}

.filter button {
    color: var(--font-color-title);
    background-color: var(--font-color-button);
    /* padding: 152px 30px; */
    border-radius: 4px;
    border: solid 1px;
    border-color: var(--font-color-button);
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.06em;

    font-family: inherit;
    
    cursor: pointer;
}

.filter button:hover,
.filter button:focus {
    color: var(--font-color-white);
    background-color: var(--font-color-on);
}

a img {
    width:370px;
}

a h2 {
    color: var(--font-color-title);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;    
    letter-spacing: 0.06em;

    text-align: left;

}

a p {
    font-size: 16px;
    line-height: 1.9;  
}
