/* Main */
:root {
  --font-color-man: #757575;
  --font-color-title: #212121;
  --font-color-on: #2196f3;
  --border-color: #ececec;
  --color-white: #ffffff;
  --font-color-black: #000000;
  --fon-footer: #2f303a;
  --backup-hero: #c4c4c4;
  --color-grey: #f5f4fa;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--font-color-man);
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* svg {
  display: block;
  max-width: 100%;
  height: auto;
} */

address {
  font-style: normal;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  width: 1200px;
  outline: 2px solid teal;
}

.address-nav,
.address-down,
.nav-list,
.advantage-list,
.fiches-list,
.command-list,
.filter-list,
.work-examples-list,
.social-list-item,
.social-list {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}


.webstudio,
.webstudio-footer,
.address-up,
.address-map,
.address-all,
.link-portfolio,
.social-list-link {
  text-decoration: none;
}


/* hide it */
.hide-it {
  visibility: hidden;
  pointer-events: none;
  position: absolute;
}


/* SECTIONS */
/* header and footer */
header {
  background: var(--color-white);
  outline: 1px solid var(--border-color);
}

.footer-class {
  background-color: var(--fon-footer);
  padding-top: 60px;
  padding-bottom: 60px;
  margin-bottom: 0;
}

.container-footer {
  display: flex;
}

/* logo */
.webstudio,
.webstudio-footer {
  font-family: "Raleway", sans-serif;
  color: var(--font-color-black);
  font-weight: 700;
  font-size: 26px;
}

.webstudio-footer {
  color: var(--color-white);
  margin-bottom: 20px;
}

.ws-blue {
  color: var(--font-color-on);
}

.webstudio:hover,
.webstudio:focus,
.webstudio-footer:hover,
.webstudio-footer:focus {
  font-weight: 900;
}

/* nav */
.link,
.address-up {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--font-color-title);
  text-decoration: none;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.link:hover,
.link:focus,
.link.current {
  color: var(--font-color-on);
}

/* Address */
.address-up {
  display: flex;
  color: var(--font-color-man);
  padding-left: 10px;
}

.icon-envelope {
  display: inline-block;
  fill: var(--font-color-man);
  width: 16px;
  height: 12px;
}

.icon-smartphone {
  fill: var(--font-color-man);
  width: 10px;
  height: 16px;
}

.address-map,
.address-all {
  line-height: 1.7;
  color: var(--color-white);
}

.address-all {
  color: rgba(255, 255, 255, 0.6);
  display: inline-block;
  margin-top: 9px;
  margin-bottom: 0;
}

.address-map {
  display: inline-block;
  margin-bottom: 0;
}

.address-up:focus,
.address-up:hover,
.address-map:hover,
.address-map:focus,
.address-all:hover,
.address-all:focus {
  color: var(--font-color-on);
}

/* heder flex box */
.nav-list {
  display: flex;
  margin-left: 93px;
}

.nav-list .item + .item {
  margin-left: 50px;
}

.address-nav {
  display: flex;
  margin-left: auto;
  /* align-items: center; */
  /* justify-content: center; */
}

/* .address-nav .item {
  align-items: center;
} */


.address-nav .item + .item {
  margin-left: 50px;
}

.nav-main {
  display: flex;
  align-items: center;
}

/* .nav-list .item:not(:last-child) {
    margin-right: 50px;
} */

.join {
  width: 206px;
  margin-top: 10px;
  margin-left: 70px;
}

.join-title {
  margin-top: 0px;
  margin-bottom: 20px;
  color: var(--color-white);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.15;
  text-transform: uppercase;
}

.social-list-link.down {
  background: rgba(255, 255, 255, 0.1);
}

.social-list-link:hover,
.social-list-link:focus {
  background: var(--font-color-on);
}

.social-list-ikon.down {
  fill:var(--color-white);
}

.social-list-ikon.down:hover  {
  fill:var(--font-color-man)
}


/* section hero */

section.hero {
  max-width: 1600px;
  min-height: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;

  text-align: center;
  background-image: linear-gradient(
    rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), 
    url(../img/hero.jpg
    );
  /* filter: drop-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
  background-repeat: no-repeat; 
  background-position: center;
  background-size: cover;
  background-color: var(--backup-hero);

  /* drop-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
}

/* title hero*/
.first-title {
  width: 696px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--color-white);
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: auto;
  margin-left: auto;
}

/* button hero*/
/* ??? разобраться по крупицам */
.button-success {
  margin-top: 30px;

  display: inline-block;
  border-radius: 4px;
  border: solid 1px;
  padding: 10px 32px;
  min-width: 216px;

  color: var(--color-white);
  background-color: var(--font-color-on);

  border-color: var(--font-color-on);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-family: inherit;

  cursor: pointer;

}

.button-success:hover,
.button-success:focus {
  color: var(--font-color-title);
}

/* section advantage */

section.advantage {
  background: var(--color-white);
  padding-top: 94px;
  padding-bottom: 94px;
}

.advantage-list {
  display: flex;
  gap: 30px;
}

.advantage-title {
  margin: 0px;
  color: var(--font-color-title);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.15;
  text-transform: uppercase;
}

.attention::before {
  display: flex;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  content: "";
  background-image: url("../img/studio1.svg");
}

.punctuality::before {
  display: flex;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  content: "";
  background-image: url("../img/studio2.svg");
}

.planning::before {
  display: flex;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  content: "";
  background-image: url("../img/studio3.svg");
}

.modern-technologies::before {
  display: flex;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  content: "";
  background-image: url("../img/studio4.svg");
}

.advantage-text {
  margin-top: 10px;
  margin-bottom: 0px;
  line-height: 1.7;
}

/* section fiches */

section.fiches {
  padding-top: 0;
  padding-bottom: 94px;
  background: var(--color-white);
}

.fiches-list {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.fiches-title,
.command-title,
.regular-clients-title {
  color: var(--font-color-title);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;

  margin-top: 0;
  margin-bottom: 0;
}

/* section command */
section.command {
  background: var(--color-grey);
  padding-top: 94px;
  padding-bottom: 94px;
}

.command-list {
  display: flex;
  margin-top: 50px;
  /* flex-wrap: wrap; */
  justify-content: space-between;
}

.command-card {
  display: flex;
  flex-direction: column;
  background: var(--color-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.command-sign {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  padding-bottom: 30px;
}

.name {
  color: var(--font-color-title);
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
}

.profession {
  font-size: 16px;
  text-align: center;
  margin-bottom: 16px;
}

.social-list {
  display: flex;
  justify-content: space-between;
  width: 206px;
  margin-right: auto;
  margin-left: auto;
  
}

.social-list-link {
  background: var(--color-white);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;

}

.social-list-link:hover,
.social-list-link:focus {
  background: var(--font-color-on);
}

.social-list-ikon {
  fill:var(--font-color-man);
  width: 20px;
  height: 20px;
}

.social-list-ikon:hover {
  fill:var(--color-white)
}

/* section regular-clients */
section.regular-clients {
  background: var(--color-white);
  padding-top: 94px;
  padding-bottom: 94px;
}

/* section portfolio.html */
section.portfolio {
  background: var(--color-white);
  padding-top: 94px;
  padding-bottom: 94px;
}

.filter-list {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-list .filter-item + .filter-item {
  margin-left: 8px;
}

.filter-button {
  display: flex;
  border-radius: 4px;
  border: solid 1px;
  padding: 6px 25px;
  min-width: 73px;

  color: var(--font-color-title);
  background-color: var(--color-grey);
  border-color: var(--color-grey);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.06em;
  font-family: inherit;

  cursor: pointer;

  text-align: center;
}

.filter-button:hover,
.filter-button:focus {
  color: var(--color-white);
  background-color: var(--font-color-on);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.work-examples-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.card-portfolio {
  width: 370px;
}

.link-portfolio:hover,
.link-portfolio:focus {
  display: block;
  border: 1px solid #eeeeee;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.title-portfolio {
  color: var(--font-color-title);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  text-align: left;
  margin-top: 0;
  margin-bottom: 4px;
}

.text-portfolio {
  color: var(--font-color-man);
  font-size: 16px;
  line-height: 1.9;
  margin-top: 0;
  margin-bottom: 0;
}
.portfolio-single {
  padding-top: 20px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 20px;
}

