:root {
    --font-color-man: #757575;
    --font-color-title: #212121;
    --font-color-on: #2196F3;
    --border-color: #ECECEC;
    --font-color-white:#FFFFFF;
}

/* add font and background*/
body {
    font-family: 'Roboto', sans-serif;
    color: var(--font-color-man);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    background: #F5F5F5
 
}

ul {
    list-style-type:none;
}

a {
    text-decoration:none;
}

h1 {
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #000;
    /* color: var(--font-color-white); */
}

/* title */
h2, h3, .link {
    color: var(--font-color-title);

}

.link,
.name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
}

h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
}

h3 {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
}

.advantage {
    text-transform: uppercase;
}

/* logo */
.webstudio {
    font-family: 'Raleway', sans-serif;
    color: #000000; font-weight: 700;
    font-size: 26px;
}

.webstudio:hover,
.webstudio:focus {
    font-weight: 900;
}

.ws-blue {
    color: var(--font-color-on);
}

/* nav */
.nav-site {
    letter-spacing: 0.02em;
}

.nav-site .link:hover,
.nav-site .link:focus,
.nav-site .link.current {
    color: var(--font-color-on);
}

/* Address */
.address a {
    font-style: normal;
    color: var(--font-color-man);
}

/* .address-map */
.address .address-map{
    font-weight: 400;
    font-size: 14px;
    line-height: 2; 
    letter-spacing: 0.03em;
    /* color: var(--font-color-white); */
    color: #000000;

}

.address-up {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.address-all {
    font-weight: 400;
    font-size: 14px;
    line-height: 2;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.address-up:focus,
.address-up:hover,
.address-map:hover,
.address-map:focus,
.address-all:hover,
.address-all:focus {
    color: var(--font-color-on);
}

/* button */
/* ??? разобраться по крупицам */
.button-success {
    color: var(--font-color-white);
    background-color: var(--font-color-on);
    /* padding: 152px 30px; */
    border-radius: 4px;
    border: solid 1px;
    border-color“: var(--font-color-on);
    font-family: inherit;
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.06em;

    cursor: pointer;

    /* position: absolute;
    width: 216px;
    height: 50px;
    left: 692px;
    top: 430px;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px; */
}

/* chaos ??? */
/* .button:hover,
.button:focus {
    color: var(--font-color-on);
    background-color: var(--font-color-white);
 } */