footer {
  background-color: var(--fon-footer);
  height: 252px;
  padding-top: 60px;
  padding-bottom: 60px;
  /* margin-bottom: 0; */
}

.container--footer {
  display: flex;
  align-items: baseline;
}

.footer-address {
  display: block;
  margin-right: 94px;
}

.footer-address__list {
  margin-top: 20px;
}

.footer-address__item:not(:last-child) {
  margin-bottom: 9px;
}

.address-map,
.address-all {
  line-height: 1.7;
  color: var(--color-white);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: var(--font-color-on);
    }
}

.address-all {
  color: rgba(255, 255, 255, 0.6);
  display: inline-block;
}

.join__title,
.subscribe-form__title {
  margin-top: 0px;
  margin-bottom: 20px;
  padding: 0;

  color: var(--color-white);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.15;
  text-transform: uppercase;
}
