header {
  background-color: var(--color-white);
  outline: 1px solid var(--border-color);
}

.nav-main {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  margin-left: 93px;
}

.nav-list .nav-list__item + .nav-list__item {
  margin-left: 50px;
}

/* .nav-list .item:not(:last-child) {
    margin-right: 50px;
} */

.nav-contacts {
  display: flex;
  margin-left: auto;
  /* align-items: center; */
  /* justify-content: center; */
}

/* .address-nav .item {
  align-items: center;
} */

/* .address-nav .item + .item {
  margin-left: 50px;
} */

.nav-contacts .nav-contacts__item:not(:last-child) {
  margin-right: 30px;
}

.nav-list__link,
.nav-contacts__link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--font-color-title);
  text-decoration: none;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list__link:hover,
.nav-list__link:focus,
.nav-contacts__link:focus,
.nav-contacts__link:hover {
  color: var(--font-color-on);
}

.nav-contacts__link {
  display: flex;
  color: var(--font-color-man);
  padding-left: 10px;
}

.nav-contacts__icon-envelope {
  fill: currentColor;
  width: 16px;
  height: 12px;
  margin-right: 10px;
}

.nav-contacts__icon-smartphone {
  fill: currentColor;
  width: 10px;
  height: 16px;
  margin-right: 10px;
}


