section.command {
  background-color: var(--color-grey);
  padding-top: 94px;
  padding-bottom: 94px;
}

.command__title {
  color: var(--font-color-title);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;

  margin-top: 0;
  margin-bottom: 0;
}

.command__list {
  display: flex;
  margin-top: 50px;
  /* flex-wrap: wrap; */
  justify-content: space-between;
}

.command-card {
  display: flex;
  flex-direction: column;
  background-color: var(--color-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.command-card__sign {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  padding-bottom: 30px;
}

.command-card__name {
  color: var(--font-color-title);
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 10px;
}

.command-card__profession {
  font-size: 16px;
  text-align: center;
  margin-bottom: 16px;
}
