/* logo WebStudio*/
.logo{
  font-family: "Raleway", sans-serif;
  color: var(--font-color-black);
  font-weight: 700;
  font-size: 26px;

  transition: font-weight 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      font-weight: 900;
    }
}

.logo__blue {
  color: var(--font-color-on);
}

.logo--footer {
  color: var(--color-white);
}
