.card-portfolio {
  display: block;
  width: 370px;
}

.card-portfolio__link {
  display: block;
  position: relative;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
}

.card-portfolio__img-example {
  overflow: hidden;
  position: relative;
}

.backdrop-portfolio {
  position: absolute;
  /* width: 370px; */
  /* height: 294px; */
  top: 0;
  right: 0;
  padding: 63px 24px;

  color: var(--color-white);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;

  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(100%);

  opacity: 0;
  transition: opacity 500ms linear, transform 500ms linear;

    .card-portfolio__link:focus &,
    .card-portfolio__link:hover & {
      transform: translateY(0%);
      opacity: 1;
    }
}

.card-portfolio__single {
  padding-top: 20px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 20px;

  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.card-portfolio__title {
  color: var(--font-color-title);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  text-align: left;
  margin-top: 0;
  margin-bottom: 4px;
}

.card-portfolio__text {
  color: var(--font-color-man);
  font-size: 16px;
  line-height: 1.9;
  margin-top: 0;
  margin-bottom: 0;
}
