.subscribe-form {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.subscribe-form__wraper {
  display: flex;
  flex-direction: column;
  margin-left: 93px;
}

.subscribe-form__input {
  width: 358px;
  height: 50px;

  padding-left: 20px;

  background-color: var(--fon-footer);

  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;

  /* filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15)); */

  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  cursor: pointer;

    &:focus {
      outline: none;
      border: 1px solid var(--font-color-on);
    }
}
