body {
  font-family: "Roboto", sans-serif;
  color: var(--font-color-man);
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
ul,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--font-color-black);
  /* outline: none; */
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

