:root {
  --font-color-man: #757575;
  --font-color-title: #212121;
  --font-color-on: #2196f3;
  --font-color-on-button: #188CE8;
  --border-color: #ececec;
  --color-white: #ffffff;
  --font-color-black: #000000;
  --fon-footer: #2f303a;
  --backup-hero: #c4c4c4;
  --color-grey: #f5f4fa;
  --color-icon: #afb1b8;
}
